* {
    box-sizing: border-box; // это правило, которое позволяет правильно считать ширину
}

.navbar__wrap {
    // для navbar нужно задать минимальную высоту
    min-height: 145px;
    // все элементы хэдера с логотипом выстроились в линию
    display: flex;
    // всё это выравниваю относительно друг друга по центру
    align-items: center;
    // наш блок выделила красным цветом для наглядности
    justify-content: space-between;
    background-color: #f7f7f7;
    .navbar__logo {
        height: 149px;
        background-color: #74cfb7;
        margin-left: 150px;
        .navbar__logo-inside {
            margin-left: 7px;
            margin-top: 14px;
        }
    }
    .navbar__name-address {
        // делаю элемент блочным, чтобы он занимал всю строчку
        // и переносил следующий за ним блок на следующую строку
        height: 49px;
        margin-right: 15px;
        .navbar__name {
            display: block;
            height: 24px;
            color: #1f252d;
            font-family: Roboto, medium;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 8px;
        }
        .navbar__address {
            display: block;
            height: 17px;
            color: #1f252d;
            font-family: Roboto, light;
            font-size: 14px;
            font-weight: 300;
            img {
                width: 17px;
                height: 12px;
                margin-right: 13px;
            }
        }
    }
    .navbar__number-timetable {
        height: 49px;
        margin-right: 46px;
        .navbar__number {
            display: block;
            height: 24px;
            color: #1f252d;
            font-family: Roboto, medium;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 8px;
        }
        .navbar__timetable {
            display: block;
            height: 17px;
            color: #1f252d;
            font-family: Roboto, light;
            font-size: 14px;
            font-weight: 300;
        }
    }
    .navbar__button {
        color: #ffffff;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        height: 48px;
        box-shadow: 0 4px 10px rgba(116, 207, 183, 0.46);
        border-radius: 4px;
        background-color: #079fc2;
        border: none;
        margin-right: 130px;
        width: 222px;
    }
}

.navbar__button:hover {
    background-color: #1790ac;
    border-color: #214d4d;
}

.menu {
    width: 1180px;
    display: flex;
    height: 67px;
    padding-top: 26px;
    margin: 0 auto;
    .menu__text {
        height: 17px;
        color: #404853;
        font-family: Roboto, medium;
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        padding-right: 30px;
        .search {
            width: 14px;
            height: 14px;
        }
    }
}

.menu__text:hover {
    color: #71a0e0;
}

.line {
    width: 1180px;
    height: 19px;
    background-color: #74cfb7;
    margin: 0 auto;
}

.hero {
    background: url(../img/main-top-bg7.png) no-repeat center;
    background-size: cover;
    height: 419px;
    .hero__title {
        height: 48px;
        color: #ffffff;
        font-family: Roboto, medium;
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        padding-top: 72px;
        margin: 0;
    }
    .hero__slider {
        width: 1180px;
        height: 191px;
        background-color: #ffffff;
        // чтобы внутренний div разместить по центру другого div
        margin: 0 auto;
        padding: 28px;
        .hero__slider__name span {
            height: 17px;
            color: #1f252d;
            font-family: Roboto, light;
            font-size: 14px;
            font-weight: 300;
        }
        .hero__slider__line {
            display: flex;
            margin-bottom: 20px;
            .slider {
                -webkit-appearance: none;
                width: 424px;
                height: 8px;
                background-color: #74cfb7;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
                margin: 0;
            }
            .slider-left {
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;
                margin-top: 30px;
            }
            
            .slider-right {
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
                margin-top: 30px;
                margin-right: 23px;
            }
        }
    }
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 82px;
    height: 32px;
    box-shadow: 0 1px 24px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    border: 1px solid #ededed;
    background-color: #f7f7f7;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.check-box {
    margin-left: 23px;
    .checker-size {
        font-size: 16px;
        .checker-active-color:checked~.checker-color {
            color: #404853;
        }
        .checker-color {
            color: #ccc;
        }
        .checker-pseudo-input {
            display: block;
            width: 1em;
            height: 1em;
            border: .0625em solid currentColor;
            border-radius: .125em;
            transition: border-color .2s ease-in, box-shadow .2s ease-in;
            position: relative;
            float: left;
            margin-right: 24px;
        }
        .checker-input:checked~.checker-pseudo-input {
            border: .0625em solid currentColor;
            box-shadow: 0 0 .125em currentColor;
        }
        .checker-pseudo-input:after {
            content: ' ';
            width: .6em;
            height: .6em;
            display: block;
            border-radius: .125em;
            transform: scale(0);
            opacity: 0;
            transition: transform .2s ease-in, opacity .2s ease-in;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }
        .checker-input:checked~.checker-pseudo-input:after {
            background-color: #404853;
            transform: scale(1);
            opacity: 1;
        }
    }
    .checker-label {
        display: block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        line-height: 1em;
    }
    .first {
        padding-bottom: 8px;
    }
    .checker-label:hover .checker-input:not(:checked)~.checker-pseudo-input {
        border-color: #404853;
    }
    .checker-text {
        width: 159px;
        height: 17px;
        color: #1f252d;
        font-family: Roboto, light;
        font-size: 14px;
        font-weight: 300;
    }
}

.table-div {
    background-color: #f7f7f7;
    table {
        border-collapse: collapse;
        tr td {
            width: 190px;
            height: 48px;
            border: 1px solid #e7e7e7;
            list-style-type: none;
            margin-top: 50px;
            padding-left: 15px;
            .text-arrow {
                display: flex;
                .arrow {
                    margin-left: 36px;
                }
            }
        }
        .button-search {
            width: 190px;
            padding: 0;
            button {
                width: 190px;
                height: 48px;
                box-shadow: 0 4px 10px rgba(116, 207, 183, 0.46);
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                background-color: #079fc2;
                border: none;
                padding: 0px;
                span {
                    width: 45px;
                    height: 17px;
                    color: #ffffff;
                    font-family: Roboto, medium;
                    font-size: 13px;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
        }
    }
}

// хувер на кнопке не работает
.table-div {
    .button-search:hover {
        background-color: white;
    }
}

.map {
    height: 535px;
    border: 20px solid #ffffff;
    display: flex;
    .map-yandex {
        width: 100%;
        display: flex;
    }
    .map-info {
        width: 507px;
        box-shadow: 0 11px 49px -35px rgba(0, 0, 0, 0.24);
        background-color: #ffffff;
        margin-top: 20px;
        position: absolute;
        margin-top: 61px;
        margin-left: 130px;
        .map__photo-house {
            display: block;
            img {
                float: left;
                margin-right: 23px;
            }
        }
    }
    .map__arrow {
        box-shadow: 0 11px 49px -35px rgba(0, 0, 0, 0.24);
        position: absolute;
        // чтобы расположить стрелку в правом верхнем углу карты
        right: 0;
        position: absolute;
        margin-top: 46px;
        margin-right: 47px;
        .map__arrow img {
            margin-top: 46px;
        }
    }
}

.map__text {
    margin-top: 22px;
    display: block;
    .map__title {
        span {
            height: 17px;
            color: #1f252d;
            font-family: Roboto, medium;
            font-size: 14px;
            font-weight: 500;
        }
    }
    .map__metro {
        margin-top: 13px;
        img {
            width: 17px;
            height: 12px;
            margin-right: 7px;
        }
        span {
            width: 91px;
            height: 17px;
            color: #404853;
            font-family: Roboto, regular;
            font-size: 13px;
            font-weight: 400;
        }
    }
    .map__address {
        height: 17px;
        color: #404853;
        font-family: Roboto, regular;
        font-size: 13px;
        font-weight: 400;
        margin-top: 9px;
    }
    .map__button button {
        width: 256px;
        height: 36px;
        box-shadow: 0 4px 10px rgba(116, 207, 183, 0.46);
        border-radius: 4px;
        background-color: #079fc2;
        border: none;
        margin-top: 25px;
    }
    .map__table {
        margin-top: 17px;
        margin-right: 35px;
        table {
            border-collapse: collapse;
            tr td {
                width: 190px;
                color: #404853;
                font-family: Roboto, regular;
                font-size: 13px;
                font-weight: 400;
                border-bottom-width: 2px;
                border-bottom-style: solid;
                border-bottom-color: #1f252d;
                .map__table__price {
                    margin-bottom: 5px;
                    margin-top: 5px;
                    margin-left: 70px;
                }
            }
        }
    }
}

.map__button span {
    width: 128px;
    height: 17px;
    color: #ffffff;
    font-family: Roboto, regular;
    font-size: 14px;
    font-weight: 400;
}

.map__button button:hover {
    background-color: #1790ac;
    border-color: #214d4d;
}

.flats {
    margin: 0 auto;
    width: 1440px;
    height: 1849px;
    background-color: #f7f7f7;
    margin-top: 20px;
    padding-top: 60px;
    .flat-desc {
        .flat-text {
            margin-bottom: 40px;
            display: flex;
            .flat-info {
                height: 520px;
                background-color: #ffffff;
                .text-block-inside {
                    padding-left: 53px;
                    padding-top: 35px;
                    padding-bottom: 68px;
                    .flat__title {
                        margin-bottom: 22px;
                        span {
                            width: 285px;
                            height: 29px;
                            color: #1f252d;
                            font-family: Roboto, medium;
                            font-size: 24px;
                            font-weight: 500;
                        }
                    }
                    .flat__metro {
                        margin-bottom: 22px;
                        img {
                            width: 17px;
                            height: 12px;
                            margin-right: 7px;
                        }
                        span {
                            width: 91px;
                            height: 17px;
                            color: #404853;
                            font-family: Roboto, regular;
                            font-size: 13px;
                            font-weight: 400;
                        }
                    }
                    .flat__address {
                        height: 17px;
                        color: #404853;
                        font-family: Roboto, regular;
                        font-size: 13px;
                        font-weight: 400;
                        margin-top: 9px;
                        margin-bottom: 23px;
                    }
                    .flat__table {
                        margin-top: 17px;
                        margin-right: 35px;
                        table {
                            border-collapse: collapse;
                            tr td {
                                width: 190px;
                                color: #404853;
                                font-family: Roboto, regular;
                                font-size: 13px;
                                font-weight: 400;
                                border-bottom-width: 2px;
                                border-bottom-style: solid;
                                border-bottom-color: #1f252d;
                                .flat__table__price {
                                    margin-bottom: 5px;
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.flat__photo-img {
    position: absolute;
}

.flat__button button {
    position: absolute;
    width: 222px;
    height: 48px;
    box-shadow: 0 4px 10px rgba(116, 207, 183, 0.46);
    border-radius: 4px;
    background-color: #079fc2;
    border: none;
    margin-top: 450px;
    margin-left: 190px;
}

.flat__button span {
    width: 78px;
    height: 17px;
    color: #ffffff;
    font-family: "Roboto Medium";
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.flats-adv {
    margin-left: 180px;
}